<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

    {% block title %}
        PyProgrammer - About
    {% endblock %}

    {% block content %}
    <!-- Page Header -->
    <!-- Set your background color for this header on the line below. -->
    <header class="intro-header" style="background-color: #122b40">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">A brief description about this blog and my life.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <blockquote>Courage and perseverance have a magical talisman, before which difficulties disappear and obstacles vanish into air. - John Quincy Adams.</blockquote>
                <p>Hello guys! My name is <a href="https://josemavazquez.com" target="_blank">Jose Maria</a>,
                    I was born in Spain but I am currently living and working in The Netherlands for some years.</p>
                <p>Since I was a child I feel attraction for science and technology so I perform a MSc. in Chemical Engineering.
                    For many years I did programming as a hobby, but now it is my way of living.</p>
                <p>You can visit my Portfolio <a href="https://josemavazquez.com" target="_blank">here</a>.</p>

                <p><img src="{% static 'img/greatwall.jpg' %}" width="100%"/></p>
                <span class="caption text-muted">Great Wall - China.</span>
                <p>In this series of posts I try to expose and clarify some concepts that I learn everyday as a Python programmer.</p>
                <p>By the way, my favourite languages are Python, C and C++, what about you? I hope you enjoy this blog a lot!</p>
		<p><img src="{% static 'img/ams.jpg' %}" width="100%"/></p>
                <span class="caption text-muted">Amstel River - Amsterdam.</span>
                <blockquote>An investment in knowledge pays the best interest. - Benjamin Franklin</blockquote>
            </div>
        </div>
    </div>
    {% endblock %}
