<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

    {% block title %}
        PyProgrammer - Archive
    {% endblock %}

    {% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style='background-color: #122b40'>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Archive</h1>
                        <hr class="small">
                        <span class="subheading">Find the collection of entries already published in this blog</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>Find the collection of entries already published on this blog. If you need to search for something specific, please go to <a href="{% url 'pyproblog:search' %}">this section</a>.</p>
                    {% for post in posts %}
                        <ul>
                            <li>
                                <div class="post-preview">
                                    <a href="{{ post.get_absolute_url }}">
                                        <h3 class="post-preview">
                                            {{ post.title }}
                                        </h3>
                                     </a>
                                    <p class="post-meta">This post is about: {% for tag in post.tags.all %}{{ tag.tagname }} {% if not forloop.last %}, {% endif %}{% endfor %}<br>
                                    Published by {{ post.author }} on {{ post.published }}</p>
                                </div>
                            </li>
                        </ul>
                    {% empty %}

                    {% endfor %}
                <!-- Pager -->
                {% include "pagination.html" with page=page_obj %}
                </div>
            </div>
        </div>
    </article>
    {% endblock %}