{% load static %}


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A simple blog about data science, web development and programming in Python">
    <meta name="author" content="Jose M. Vazquez">
    <link rel="shortcut icon" href="{% static 'img/py.png' %}" />
    <meta property="og:url"           content="http://pyprogrammer.com" />
    <meta property="og:type"          content="Website" />
    <meta property="og:title"         content="PyProgrammer.com" />
    <meta property="og:description"   content="A simple blog about Python" />
    <meta property="og:image"         content="https://pyprogrammer.com/media/img/PyProgrammer.JPG" />
    <meta property="og:image:type" content="image/png"/>
    <meta property="fb:app_id" content="966242223397117"/>

