{% load static %}
{% load crispy_forms_tags %}

<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'pyproblog:home' %}">PyProgrammer.com</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'pyproblog:home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'pyproblog:about' %}">About</a>
                    </li>
                    <li>
                        <a href="https://josemavazquez.com" target="_blank">Resume</a>
                    </li>
                    <li>
                        <a href="{% url 'pyproblog:contact' %}">Contact</a>
                    </li>
                    <li class="menu-item hidden-mobile">
                        <a href="{% url 'pyproblog:subscribe' %}">
                        <span class="fa fa-send"></span> Subscribe
                        </a>
                    </li>
                    <li class="menu-item hidden-mobile">
                        <a href="{% url 'pyproblog:search' %}">
                        <span class="fa fa-search"></span> Search
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
